<div class="contact">
    <span>Get in touch with me </span>
</div>
<div class="tiles">
    <div class="tile">

        <span *ngIf="!isSendingMail">Liked me ? Want to have a word with me drop me a mail</span>
        <div [class.sendMail]="isSendingMail" class="contactdetails">
            <div class="copied" *ngIf="isCopied"><span>Copied !</span></div>

            <code title="Click to Copy" (click)="copyEmail()" class="email"><i class="far fa-envelope"></i><span class="e">sidbhatia60@gmail.com</span>
            <div class="copy"><span>Click to copy</span></div>
        </code>
            <a class="mailme" (click)="showMail()">Ping me <i class="fas fa-reply"></i> </a>

        </div>
        <div [class.sendMail]="isSendingMail" class="mailer">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin fa-2x"></i>
            <span *ngIf="!isMailSent"> Drop me a mail</span>
            <form *ngIf="!isMailSent" #userform=ngForm (submit)="isLoading=true;sendMail(userform.value)">
                <div class="contact-form">
                    <div class="col-xs-5">
                        <input type="email" ngModel required name="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="col-xs-5">
                        <textarea ngModel required name="comments" class="form-control" rows="1"
                            placeholder="Whats on your mind..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Send</button>

                </div>
            </form>
            <a class="close" (click)="isSendingMail=false"><i class="fa fa-times"></i></a>
            <div class="mailsent" *ngIf="isMailSent"><span>Thanks for reaching out i will revert back to you soon
                </span></div>
        </div>
    </div>
    <div class="tile">
        <span>Still think dont know about me enough browse through my Linkedin or have a look at my resume</span>
        <div class="contactdetails">
            <a [href]="config.LinkedIn" target="_blank"> <span><i class="fab fa-linkedin fa-2x"></i></span></a>
            <span class="resume"><a [href]="config.Resume" target="_blank">Resume</a></span>
        </div>
    </div>
    <div class="tile">
        <span>Want to see my coding projects and see how they were done feel free to browse through Github and
            others</span>
        <div class="contactdetails">
            <a [href]="config.Github" target="_blank" title="GitHub"><i class="fab fa-github-square fa-2x"></i></a>
            <a [href]="config.codePen" target="_blank" title="CodePen"><i class="fab fa-codepen fa-2x"></i></a>
            <a [href]="config.stackBlitz" target="_blank" title="StackBlitz"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32" fill="#1389FD" width="2em" height="2em">
                    <path d="M5.853 18.647h8.735L9.45 31l16.697-17.647h-8.735L22.55 1 5.853 18.647z"></path>
                </svg></a>
        </div>
    </div>
</div>